#ALCOOL{
    background-color: rgba(235,168,51,0.8);
    border-top-left-radius: 5px 5px;
}

.thanks{
	padding-top:100px;
	height:70%;
	width: 55%;
	margin:auto;
	justify-content: center;
	display: flex;
	align-items: center;
}

form{
	width: 600px;
	height: 600px;
	margin-top: 100px;
	margin-top: unset;
}
